@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    --primary-color: #ffffff;
    --background-color: #4876c3;
    --hover-color: #ffeb41;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.content {
    display: flex;
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    flex-wrap: wrap;
}

.header {
    background-color: var(--background-color);
}

.header-menu-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.header-logo {
    position: relative;
}

.logo-arrow {
    position: absolute;
    top: 20px;
    right: 0;
}

.header-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-section {
    display: flex;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-item-link {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    padding: 20px 12px 18px 12px;
    color: var(--primary-color);
    font-size: 13px;
    border-bottom: 2px solid transparent;
}

.fa-sort-down {
    margin-left: 10px;
    margin-top: 4px;
    line-height: 0;
}

.nav-item-link:hover {
    border-bottom: 2px solid var(--hover-color);
    color: var(--hover-color);
}

.btn-header {
    margin-left: 20px;
    padding: 0;
    background: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    outline: none;
}

.btn-header:hover {
    color: var(--hover-color);
}

.header-user-menu {
    display: flex;
    align-items: center;
}

.user-photo {
    width: 35px;
    border-radius: 50%;
}
.search {
    position: relative;
    background-color: white;
    padding: 7px 10px;
    border-radius: 3px;
    overflow: hidden;
    width: 650px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 10px 0 10px 0;
}

.search-input {
    border: none;
    outline: none;
    margin-left: 10px;
    width: 87%;
}

.search-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    border: none;
    padding: 0 9px;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--primary-color);
    background-color: #ffd41a;
    outline: none;
}

.not-active {
    display: none;
}

.search-section {
    display: none;
    position: relative;
}

.window-filter-container {
    display: none;
}

.active {
    display: block;
}

.window-filter{
    display: flex;
    align-items: center;
    background: var(--primary-color);
    flex-direction: column;
    position: absolute;
    border: 1px solid #cccccc;
    top: 48px;
    width: 300px;
    padding: 15px;
}

.input-window-filter {
    display: flex;
    width: 100%;
    align-items: center;
}

.input-filter-checkbox {
    margin-right: 10px;
}

.input-filter {
    border: 1px solid #cccccc;
    min-height: 30px;
    padding: 0 10px;
    width: 100%;
    outline: none;
    margin-left: 10px;
}

.category-select{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.category-select-body {
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    border: 1px solid #cccccc;
    left: 133px;
    right: 0;
    top: 78%;
    z-index: 50;
    width: 120px;
}

.category-select.is-active .select-body {
    display: block;
}

.category-select-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid #cccccc;
    background-color: #f3f3f3;
    margin-left: 10px;
    padding: 10px;
    width: 100px;
}

.select-icon {
    font-size: 8px;
    color: #a8a8a8;
}

.select-item {
    font-size: 12px;
    line-height: 20px;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #cccccc;
}

.select-item:hover {
    background-color: black;
    color: white;
}

.category-select-current {
    font-size: 14px;
    padding: 8px;
    color: var(--hover-color);
}

.select-default {
    font-size: 14px;
    color: #cccccc;
}

.select-current.dirty {
    font-size: 12px;
    color: black;
}

.select-current:empty {
    display: none;
}

.select-current:not(:empty) + .select-default {
    display: none;
}
.filter-select.is-active .select-body {
    display: block;
}

.input-form-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.checkbox-label {
    font-size: 12px;
}

.mobile-menu {
    display: block;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--background-color);
    z-index: 10;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in;
}

.mobile-menu-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.mobile-menu-nav-item {
    margin-bottom: 30px;
}

.mobile-menu-item-link {
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.mobile-menu-close-btn {
    top: 25px;
    right: 25px;
    position: absolute;
    font-size: 20px;
    background: var(--primary-color);
    padding: 6px 12px;
    color: var(--background-color);
}

.modal-active {
    display: block;
    opacity: 1;
    pointer-events: all;
 }

.mobile-menu-bars {
    display: none;
    font-size: 25px;
    color: white;
}